@import "tailwindcss";

@theme inline {
  --color-earth-900: #2c1a12;
  --color-earth-800: #4a2e1b;
  --color-earth-500: #8c5b36;
  
  --color-parchment-100: #fcf9f2;
  --color-parchment-200: #f5eedc;
  --color-parchment-300: #e8dcc4;
  
  --color-gold-500: #d4af37;
  --color-gold-600: #c19b2c;
  
  --color-terracotta-500: #c25934;
  
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

:root {
  --background: var(--color-parchment-100);
  --foreground: var(--color-earth-900);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
